.element-info-overlay {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 2147483641;
  pointer-events: auto;
  user-select: text;
  font-family: monospace;
  font-size: 12px;
  width: 420px;
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
  white-space: pre-wrap;
  cursor: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  max-height: 70vh;
  background: rgb(245, 245, 245);
  color: #111; 

  .element-box {
    .element-tag-id-classes-preview {
      background-color: rgba(200, 200, 200, 0.5);
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;

      .attribute {
        margin-left: 10px;

        .attribute-name {
          color: #a14718;
        }
  
        .attribute-value {
          color: #174ea6;
        }
      }

      .tag-with-bracket {
        color: #a22f6c;
      }

      .children-preview {
        width: fit-content;
        padding: 2px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid #2a6cd6;
        color: #2a6cd6;
      }
    }

    pre {

      .section-box {
        border: 1px solid rgba(200, 200, 200, 0.5);
        border-radius: 5px;
        margin: 10px 0;
        padding: 8px 12px;
        background-color: white;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    
        h3 {
          font-weight: bold;
          color: #333;
          margin: 0 0 5px 0;
          font-size: 14px;
        }
    
        span {
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: default;
          position: relative;
        }
    
        span:hover::after {
          content: attr(data-full);
          position: fixed;
          top: 10px;
          right: 20px;
          background: #fff;
          color: #000;
          padding: 4px 6px;
          border: 1px solid #ccc;
          border-radius: 3px;
          white-space: pre-wrap;
          z-index: 9999;
          max-width: 90vw;
          overflow-x: auto;
        }
      }
    }

    .info-message-for-current-mode-in-use {
      margin-top: 8px;
      padding: 6px;
      border-radius: 6px;
      font-size: 12px;
      background-color: #e3edf7;
    }
  }


  .popup-hide-btn, .popup-switch-btn, .popup-assets-btn, .popup-palette-btn, .popup-typography-btn, .popup-manipulate-btn, .popup-color-picker-btn, .popup-design-compare-btn {
    position: absolute;
    left: auto;
    right: 10px;
    color: #676767;
    background-color: #e1e1e1;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .popup-hide-btn {
    top: 5px;
  }

  .popup-switch-btn {
    top: 30px;
  }

  .popup-assets-btn {
    top: 55px;
  }

  .popup-palette-btn {
    top: 80px;
  }

  .popup-typography-btn {
    top: 105px;
  }

  .popup-manipulate-btn {
    top: 130px;
  }

  .popup-color-picker-btn {
    top: 155px;
  }

  .popup-design-compare-btn {
    top: 180px;
  }

  .popup-hide-btn:hover, .popup-switch-btn:hover, .popup-assets-btn:hover, .popup-palette-btn:hover, .popup-typography-btn:hover, .popup-manipulate-btn:hover, .popup-color-picker-btn:hover, .popup-design-compare-btn:hover {
    color: #e1e1e1;
    background-color: #676767;
  }

}

.element-hidden-overlay {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2147483641;
  pointer-events: auto;
  user-select: text;
  font-family: monospace;
  font-size: 12px;
  width: 100px;
  height: 10px;
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  cursor: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  background: rgb(245, 245, 245);
  color: #111; 

  .popup-hide-btn {
    position: absolute;
    left: auto;
    right: 10px;
    color: #676767;
    background-color: #e1e1e1;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .popup-hide-btn:hover {
    color: #e1e1e1;
    background-color: #676767;
  }
}

.popup-right {
  left: auto;
  right: 10px;
}

.popup-left {
  right: auto;
  left: 10px;
}


.element-assets-overlay, .element-palette-overlay, .element-typography-overlay, .element-manipulate-overlay, .element-color-picker-overlay, .element-design-overlay {
  position: fixed;
  top: 40px;
  z-index: 2147483642;
  pointer-events: auto;
  user-select: text;
  font-family: monospace;
  font-size: 12px;
  width: 420px;
  height: 70vh;
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  white-space: pre-wrap;
  cursor: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  max-height: 70vh;
  background: rgb(245, 245, 245);
  color: #111; 

  .sketch-picker {
    width: 80% !important;
    margin: auto;
  }

  .copy-color-picker-box {
    margin: 16px 16px 0px 16px;
    padding: 16px;
    border-radius: 5px;
    transition: transform 0.15s cubic-bezier(.4,2,.6,1);
    cursor: pointer;

    span {
      background-color: white;
      padding: 3px;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  .copy-color-picker-box.clicked {
    transform: scale(1.075) rotate(-3deg);
  }
}

.typography-main-flex-container .typography-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  transition: transform 0.15s cubic-bezier(.4,2,.6,1);
  cursor: pointer;

  .typo-preview {
    background-color: #ebebeb;
    border-radius: 5px;
    overflow-wrap: break-word;
    line-height: 20px;
    padding: 10px;
  }
  
  .typo-info {
    display: flex;
    flex-direction: column;
  }
}

.typography-main-flex-container .typography-box.clicked {
  transform: scale(1.075) rotate(-3deg);
}


.element-assets-overlay .assets-main-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;

  .assets-main-flex-container-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 6px;

    .assets-main-flex-container-wrapper-img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 5px;
    }
    
    .assets-main-flex-container-wrapper-download-btn {
      color: #676767;
      background-color: #e1e1e1;
      text-align: center;
      width: 100px;
      border-radius: 5px;
      border: 0px;
      cursor: pointer;
      transition: transform 0.15s cubic-bezier(.4,2,.6,1);
    }
    
    .assets-main-flex-container-wrapper-download-btn.clicked{
      transform: scale(1.075) rotate(-3deg);
    }
  }
  
}

.element-palette-overlay .palette-main-flex-container, .element-typography-overlay .typography-main-flex-container, .element-manipulate-overlay .manipulate-main-flex-container, .element-color-picker-overlay .color-picker-flex-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.element-manipulate-overlay .manipulate-main-flex-container {

  .label-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 14px;
    }

    input {
      padding: 6px;
      font-size: 14px;
      border-radius: 5px;
      background-color: #4f4f4f;
      color: #f5f5f5;
    }
  }
}

.element-palette-overlay .palette-main-flex-container .palette-container-color-box {
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(.4,2,.6,1);

  span {
    background-color: white;
    color: black;
    padding: 6px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;
  }
}

.element-palette-overlay .palette-main-flex-container .palette-container-color-box.clicked {
  transform: scale(1.075) rotate(-3deg);
}

.element-design-overlay {
  .design-main-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 16px;
    background: white;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    
    .dropzone {
      border-width: 2px;
      border-style: dashed;
      border-radius: 0.375rem;
      padding: 1.5rem;
      text-align: center;
      cursor: pointer;
      transition: all 150ms ease-in-out;
      margin: auto;
    }
  
    .dragging {
      border-color: #3b82f6;
      background-color: #eff6ff;
    }
  
    .default {
      border-color: #d1d5db;
    }
  
    .preview {
      max-height: 12rem; 
      max-width: 250px;
      margin: auto;
      margin-top: 0.75rem; 
      border-radius: 0.25rem; 
    }

    .slider-container {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

      input {
        flex: 1;
      }
    }
  }

  .popup-hide-btn {
    cursor: pointer;
    color: #676767;
    background-color: #e1e1e1;
    text-align: center;
    width: 70px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0px;
    transition: all 0.5s ease;
  }
  
  .popup-hide-btn:hover {
    color: #e1e1e1;
    background-color: #676767;
  }
}

.whole-page-preview-image {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-assets-btn, .close-palette-btn, .close-typography-btn, .close-manipulate-btn, .close-color-picker-btn, .close-design-btn, .remove-image-btn {
  cursor: pointer;
  color: #676767;
  background-color: #e1e1e1;
  text-align: center;
  width: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px;
  transition: all 0.5s ease;
}

.pick-from-page-btn {
  cursor: pointer;
  color: #676767;
  background-color: #e1e1e1;
  text-align: center;
  width: 140px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px;
  transition: transform 0.15s cubic-bezier(.4,2,.6,1);
}

.close-assets-btn:hover, .close-palette-btn:hover, .close-typography-btn:hover, .close-manipulate-btn:hover, .close-color-picker-btn:hover ,.close-design-btn:hover, .remove-image-btn:hover {
  color: #e1e1e1;
  background-color: #676767;
}

.pick-from-page-btn.clicked {
  transform: scale(1.075) rotate(-3deg);
}

.element-highlight-box, .element-highlighted-element-box {
  position: fixed;
  pointer-events: none;
  z-index: 2147483640;

  display: flex;
  justify-content: center;
  align-items: center;

  .element-size-label, .element-highlighted-size-label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    background: #474747;
    white-space: nowrap;
    padding: 2px 4px;
    border-radius: 3px;
  }

  .element-tag-class-label, .element-highlighted-tag-class-label {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    background: #474747;
    padding: 2px 4px;
    border-radius: 3px;
  }
}

.element-highlight-box {
  border: 2px solid rgb(162, 0, 255);

  .element-size-label, .element-tag-class-label {
    color: rgb(211, 134, 255);
  }
}

.element-highlighted-element-box {
  border: 2px solid rgb(0, 255, 85);

  .element-highlighted-size-label, .element-highlighted-tag-class-label {
    color: rgb(0, 255, 85);
  }
}

.element-highlight-box::before,
.element-highlight-box::after {
  content: '';
  position: absolute;
  background-color: rgb(162, 0, 255);
}

.element-highlighted-element-box::before,
.element-highlighted-element-box::after {
  content: '';
  position: absolute;
  background-color: rgb(0, 255, 85);
}

.element-highlight-box::before,
.element-highlighted-element-box::before {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.element-highlight-box::after,
.element-highlighted-element-box::after {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
