#element-info-overlay {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 2147483647;
  pointer-events: auto;
  user-select: text;
  font-family: monospace;
  font-size: 12px;
  width: 420px;
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: none;
  white-space: pre-wrap;
  cursor: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  max-height: 70vh;
  background: rgba(245, 245, 245, 0.95);
  color: #111; 

  .element-box {
    h2 {
      background-color: rgba(200, 200, 200, 0.5);
      color: #525252;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    pre {

      .section-box {
        border: 1px solid rgba(200, 200, 200, 0.5);
        border-radius: 5px;
        margin: 10px 0;
        padding: 8px 12px;
        background-color: white;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    
        h3 {
          font-weight: bold;
          color: #333;
          margin: 0 0 5px 0;
          font-size: 14px;
        }
    
        span {
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: default;
          position: relative;
        }
    
        span:hover::after {
          content: attr(data-full);
          position: fixed;
          top: 10px;
          right: 20px;
          background: #fff;
          color: #000;
          padding: 4px 6px;
          border: 1px solid #ccc;
          border-radius: 3px;
          white-space: pre-wrap;
          z-index: 9999;
          max-width: 90vw;
          overflow-x: auto;
        }
      }
    }
  }


  #popup-switch-btn, #popup-assets-btn, #popup-palette-btn, #popup-typography-btn, #popup-inject-btn, #popup-color-picker-btn {
    position: absolute;
    left: auto;
    right: 10px;
    color: #676767;
    background-color: #e1e1e1;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  #popup-switch-btn {
    top: 5px;
  }

  #popup-assets-btn {
    top: 30px;
  }

  #popup-palette-btn {
    top: 55px;
  }

  #popup-typography-btn {
    top: 80px;
  }

  #popup-inject-btn {
    top: 105px;
  }

  #popup-color-picker-btn {
    top: 130px;
  }

  #popup-switch-btn:hover, #popup-assets-btn:hover, #popup-palette-btn:hover, #popup-typography-btn:hover, #popup-inject-btn:hover, #popup-color-picker-btn:hover {
    color: #e1e1e1;
    background-color: #676767;
  }

}

.popup-right {
  left: auto;
  right: 10px;
}

.popup-left {
  right: auto;
  left: 10px;
}


#element-assets-overlay, #element-palette-overlay, #element-typography-overlay, #element-inject-overlay, .element-color-picker-overlay {
  position: fixed;
  top: 40px;
  z-index: 2147483648;
  pointer-events: auto;
  user-select: text;
  font-family: monospace;
  font-size: 12px;
  width: 420px;
  height: 70vh;
  overflow: auto;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  white-space: pre-wrap;
  cursor: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  max-height: 70vh;
  background: rgb(245, 245, 245);
  color: #111; 

  .sketch-picker {
    width: 80% !important;
    margin: auto;
  }

  .copy-color-picker-box {
    margin: 16px 16px 0px 16px;
    padding: 16px;
    border-radius: 5px;
    transition: transform 0.15s cubic-bezier(.4,2,.6,1);
    cursor: pointer;

    span {
      background-color: white;
      padding: 3px;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  .copy-color-picker-box.clicked {
    transform: scale(1.075) rotate(-3deg);
  }
}

#typography-main-flex-container #typography-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  transition: transform 0.15s cubic-bezier(.4,2,.6,1);
  cursor: pointer;

  .typo-preview {
    background-color: #ebebeb;
    border-radius: 5px;
    overflow-wrap: break-word;
    line-height: 20px;
    padding: 10px;
  }
  
  .typo-info {
    display: flex;
    flex-direction: column;
  }
}

#typography-main-flex-container #typography-box.clicked {
  transform: scale(1.075) rotate(-3deg);
}


#element-assets-overlay #assets-main-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;

  #assets-main-flex-container-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 6px;

    #assets-main-flex-container-wrapper-img {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 5px;
    }
    
    #assets-main-flex-container-wrapper-download-btn {
      color: #676767;
      background-color: #e1e1e1;
      text-align: center;
      width: 100px;
      border-radius: 5px;
      border: 0px;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    
    #assets-main-flex-container-wrapper-download-btn:hover {
      color: #e1e1e1;
      background-color: #676767;
    }
  }
  
}

#element-palette-overlay #palette-main-flex-container, #element-typography-overlay #typography-main-flex-container, #element-inject-overlay #inject-main-flex-container, .element-color-picker-overlay #color-picker-flex-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

#color-picker-flex-container #color-canvas-for-color-picker {
  cursor: pointer;
  width: 300px;
  height: 150px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 5px;
}

#color-picker-flex-container #color-picker-result-div {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#element-inject-overlay #inject-main-flex-container {

  .label-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 14px;
    }

    input {
      padding: 6px;
      font-size: 14px;
      border-radius: 5px;
      background-color: #4f4f4f;
      color: #f5f5f5;
    }
  }
}

#element-palette-overlay #palette-main-flex-container #palette-container-color-box {
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(.4,2,.6,1);

  span {
    background-color: white;
    color: black;
    padding: 6px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;
  }
}

#element-palette-overlay #palette-main-flex-container #palette-container-color-box.clicked {
  transform: scale(1.075) rotate(-3deg);
}

#element-palette-overlay #palette-main-flex-container #palette-container-copy-box, #typography-main-flex-container #typography-container-copy-box {
  position: relative;
  top: 10px;
  left: 10px;
  color: #676767;
  cursor: pointer;
  transition: all 0.5s ease;
}

#close-assets-btn, #close-palette-btn, #close-typography-btn, #close-injected-btn, #delete-injected-btn, #close-color-picker-btn {
  cursor: pointer;
  color: #676767;
  background-color: #e1e1e1;
  text-align: center;
  width: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px;
  transition: all 0.5s ease;
}

#pick-from-page-btn {
  cursor: pointer;
  color: #676767;
  background-color: #e1e1e1;
  text-align: center;
  width: 140px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px;
  transition: all 0.5s ease;
}

#delete-injected-btn { 
  width: 100%;
}

#close-assets-btn:hover, #close-palette-btn:hover, #close-typography-btn:hover, #close-injected-btn:hover, #delete-injected-btn:hover, #close-color-picker-btn:hover, #pick-from-page-btn:hover {
  color: #e1e1e1;
  background-color: #676767;
}

#element-highlight-box, #element-highlighted-element-box {
  position: fixed;
  pointer-events: none;
  z-index: 2147483646;

  display: flex;
  justify-content: center;
  align-items: center;

  #element-size-label, #element-highlighted-size-label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    background: #474747;
    white-space: nowrap;
    padding: 2px 4px;
    border-radius: 3px;
  }

  #element-tag-class-id-label, #element-highlighted-tag-class-id-label {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    background: #474747;
    padding: 2px 4px;
    border-radius: 3px;
  }
}

#element-highlight-box {
  border: 2px solid rgb(162, 0, 255);
  background-color: rgba(162, 0, 255, 0.1);

  #element-size-label, #element-tag-class-id-label {
    color: rgb(211, 134, 255);
  }
}

#element-highlighted-element-box {
  border: 2px solid rgb(0, 255, 85);
  background-color: rgba(0, 255, 85, 0.1);

  #element-highlighted-size-label, #element-highlighted-tag-class-id-label {
    color: rgb(0, 255, 85);
  }
}

#element-highlight-box::before,
#element-highlight-box::after {
  content: '';
  position: absolute;
  background-color: rgb(162, 0, 255);
}

#element-highlighted-element-box::before,
#element-highlighted-element-box::after {
  content: '';
  position: absolute;
  background-color: rgb(0, 255, 85);
}

#element-highlight-box::before,
#element-highlighted-element-box::before {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#element-highlight-box::after,
#element-highlighted-element-box::after {
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
